<nav class="navbar navbar-dark bg-dark top-bar">
    <div class="container-fluid">
        <h2><a [routerLink]="['']">Autenticação <i class="fas fa-user-shield"></i></a></h2>
        <a class="btn" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="sair()">
            <a *ngIf="!autenticado()"><i class="fas fa-sign-in-alt"></i> Login</a>
            <a *ngIf="autenticado()"><i class="fas fa-sign-in-alt"></i> Logout</a>
        </a>
    </div>
</nav>

<hr class="divider">
<div class="container flex">
    <router-outlet></router-outlet>
</div>