<p class="dataHora">
  <button><i class="fas fa-redo" (click)="atualizarDataHora()"></i></button>&nbsp;
  <i class="far fa-calendar-alt"></i> {{ dataHoraAtual }}
</p><br><br>
<p class="dataHora">
  <i class="far fa-calendar-alt"></i> {{ dataTempoReal }}
</p>
<h2 class="container">lançamentos</h2>
<hr class="divider">
<div class="gap-4 row container">
  <button type="button" class="btn btn-dark btn-sm btn-outline-success col-3" (click)="downloadCSV()"><i class="fas fa-file-csv"></i></button>
  <button class="btn btn-dark btn-sm btn-outline-success col-3" type="button" (click)="downloadPDF()"><i class="far fa-file-pdf"></i></button>
</div>
<hr class="divider">

<div class="container">
  <div>
    <table class="table table-sm table-dark table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th class="col-g ordenar-tarefa">ID</th>
          <th class="col-p">DATA</th>
          <th class="col-m">HORA</th>
          <th class="col-m">TIPO</th>
          <th class="col-m">LOCALIZAÇÃO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lancamento of lancamentos">
          <th>{{ lancamento.id }}</th>
          <td>{{ lancamento.data | data | date: "dd/MM/yyyy" }}</td>
          <td>{{ lancamento.data | hora }}</td>
          <td>{{ lancamento.tipo | tipo }}</td>
          <td>
              <a href="https://www.google.com/maps/place/{{lancamento.localizacao}}" target="_blank">
                {{ lancamento.localizacao }}
              </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>