<h2>lançamentos</h2>

<div class="container">
    <div>
      <table class="table table-sm table-dark table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th class="col-g ordenar-tarefa">ID</th>
            <th class="col-p">DATA</th>
            <th class="col-m">HORA</th>
            <th class="col-m">TIPO</th>
            <th class="col-m">LOCALIZAÇÃO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lancamento of lancamentos">
            <th>{{ lancamento.id }}</th>
            <td>{{ lancamento.data | data | date: "dd/MM/yyyy" }}</td>
            <td>{{ lancamento.data | hora }}</td>
            <td>{{ lancamento.tipo | tipo }}</td>
            <td>
                <a href="https://www.google.com/maps/place/{{lancamento.localizacao}}" target="_blank">
                  {{ lancamento.localizacao }}
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>